main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.container h2 {
    color: #D81616;
    font-size: 2rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.10);
}

.top-bar {
    align-self: flex-end;
    padding: 10px 20px;
    font-weight: 600;
    margin: 20px 0;
    width: fit-content;
    border-radius: 20px;
    background-color: #28a745;
}

.top-bar a {
    color: white;
    font-size: 0.8rem;
}

.table_container {
    max-height: 90vh;
    width: 95%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.table_container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
  
.table_scroll {
    overflow-y: auto;
    max-height: 600px; /* Adjust height as needed */
    border: 1px solid #ddd;
    border-radius: 8px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}
  
thead {
    position: sticky;
    top: 0;
    background-color: #D81616;
    color: white;
    z-index: 1;
}
  
th, td {
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

table tbody tr:hover {
    background-color: #e0f7fa; /* Light blue on hover */
}

.btn-accept, .delete-btn {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-accept {
    background-color: #28a745;
}

.btn-accept:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}